body {
	color: #B4B4B4;
	font-family: "Century Gothic";
	background-color: #111111;
	background-repeat:no-repeat;
}

h1 {
	font-family: "Century Gothic";
	font-variant:small-caps;
	font-size:15px;
	position:absolute;
	color:#56a6a5;
	top:120px;
	left:10px;
}

a {
	color: #444;
	font-size: 16px;
	text-decoration: none;
}
#one {
	position: absolute;
	top: 200px;
	right: 910px;
	padding-left: 5px;
	border-left: 2px solid #333;
}

#two {
	position: absolute;
	top: 200px;
	right: 730px;
	padding-left: 5px;
	border-left: 2px solid #333;
}

#three {
	position: absolute;
	top: 200px;
	right: 510px;
	padding-left: 5px;
	border-left: 2px solid #333;
}

#four {
	position: absolute;
	top: 200px;
	right: 330px;
	padding-left: 5px;
	border-left: 2px solid #333;
}

#five {
	position: absolute;
	top: 200px;
	right: 150px;
	padding-left: 5px;
	border-left: 2px solid #333;

}

.number {
	font-family: Calibri,"Neutra Display";
	font-weight:normal;
	font-size: 50px;
	color: #363636;
}

.title {
	position: relative;
	top: -15px;
	color:#444;
	font-family: "Century Gothic";
	font-size: 20px;
	font-weight:normal;
	text-shadow: 0px 1px 0px #444;
	margin-bottom: 20px;
}


/* JS Formatting - DO NOT TOUCH UNLESS YOU KNOW WHAT YOU ARE DOING! */

div#menu {
	width: 130px;
	height: 100px;
	overflow: hidden;
}

div#menut {
	width: 150px;
	height: 100px;
	overflow: hidden;
}

div#menuth {
	width: 203px;
	height: 100px;
	overflow: hidden;
}

div#menuf {
	width: 150px;
	height: 100px;
	overflow: hidden;
}

div#menufi {
	width: 170px;
	height: 100px;
	overflow: hidden;
}

/* 	cc BY-NC-SA License :: k3ttc4r :: 2008 :: http://k3ttc4r.deviantart.com */

/* 	improved by :: http://xnderkai.deviantart.com/
	to version i worked was the one of: http://justhumba.deviantart.com/ */